<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <context:component-scan base-package="pt.joja.controller"/>
    <context:component-scan base-package="pt.joja.dao"/>

    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/pages/"/>
        <property name="suffix" value=".jsp"/>
        <property name="viewClass" value="org.springframework.web.servlet.view.JstlView"/>
        <property name="order" value="100"/>
    </bean>

    <bean class="pt.joja.view.JojaViewResolver">
        <property name="order" value="10"/>
    </bean>

    <!--<bean id="jstlView" class="org.springframework.web.servlet.view.JstlView">
        <property name="url" value="/hello01"/>
    </bean>-->

    <bean id="messageSource" class="org.springframework.context.support.ResourceBundleMessageSource">
        <property name="basenames">
            <array>
                <value>i18n</value>
                <value>errors</value>
            </array>
        </property>
    </bean>

    <mvc:annotation-driven conversion-service="conversionService"/>

    <mvc:view-controller path="/toLoginPage" view-name="Login"/>

    <mvc:default-servlet-handler/>

    <bean id="conversionService" class="org.springframework.format.support.FormattingConversionServiceFactoryBean">
        <property name="converters">
            <set>
                <bean class="pt.joja.component.StringToEmployeeConverter"/>
            </set>
        </property>
    </bean>

    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="maxUploadSize" value="#{20*1024*1024}"/>
        <property name="defaultEncoding" value="UTF-8"/>
    </bean>

    <mvc:interceptors>
        <mvc:interceptor>
            <mvc:mapping path="/interceptor01"/>
            <bean id="myInterceptor" class="pt.joja.interceptor.MyInterceptor"/>
        </mvc:interceptor>
        <mvc:interceptor>
            <mvc:mapping path="/interceptor01"/>
            <bean id="mySecondInterceptor" class="pt.joja.interceptor.MySecondInterceptor"/>
        </mvc:interceptor>
    </mvc:interceptors>

    <bean class="org.springframework.web.servlet.handler.SimpleMappingExceptionResolver">
        <property name="exceptionMappings">
            <props>
                <prop key="java.lang.NumberFormatException">myError</prop>
            </props>
        </property>
        <property name="exceptionAttribute" value="message"/>
    </bean>
</beans>